<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <pipelines>
      <saveBaseLayout>
        <processor xdt:Locator="Match(type)" xdt:Transform="Remove"
                   type="Sitecore.BaseLayouts.Pipelines.SaveBaseLayout.CheckForVersioningConflict, Sitecore.BaseLayouts" />
      </saveBaseLayout>
    </pipelines>
    <sitecore.experienceeditor.speak.requests  xdt:Transform="Remove"/>
  </sitecore>
</configuration>