<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <standardValues>
      <patch:attribute name="defaultProvider" value="baseLayouts" />
      <providers>
        <add name="baseLayouts" type="Sitecore.BaseLayouts.BaseLayoutStandardValuesProvider, Sitecore.BaseLayouts">
          <param name="innerProvider" type="Sitecore.Data.StandardValuesProvider, Sitecore.Kernel" />
          <param name="databases" desc="Pipe separated list of the databases that support base layouts">master|web</param>
        </add>
      </providers>
    </standardValues>
    <commands>
      <command name="webedit:selectbaselayout" type="Sitecore.BaseLayouts.Commands.SelectBaseLayout,Sitecore.BaseLayouts"/>
    </commands>
  </sitecore>
</configuration>