@model RenderingModel
<div class="panel panel-default">
    <div class="panel-heading">@Html.Sitecore().Field("Title")</div>
    <div class="panel-body">
        @Html.Sitecore().Field("Body")
    </div>
</div>