<div class="row">
    <div class="col-xs-12">
        @Html.Sitecore().Placeholder("Row1")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Sitecore().Placeholder("Row2")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Sitecore().Placeholder("Row3")
    </div>
</div>